@font-face {
  font-family: "Noto Sans";
  src: url("../../assets/fonts/NotoSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../../assets/fonts/NotoSans-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../../assets/fonts/NotoSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: block;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../../assets/fonts/NotoSans-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
  font-display: block;
}

